body {
    text-align: center;
    transition: background-color 0.5s;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    height: 80px;
    width: 400px;
}
